{% extends "layout/basic.html" %}
{% block info %}{{ user.username }}{% endblock %}
 {% block logout %}<a href="{% url 'logout' %}">Выйти, ага</a>{% endblock %}
{% block notelist %}
        {% for note in notes %}
            <button onclick="get_note({{ note.id }})" style="background-color: {{ note.color }}">{{ note.shorttext }}</button>
        {% endfor %}
    {% load staticfiles %}
        <script src="{% static "noter/jquery.js" %}"></script>
        <script src="{% static "noter/ajax.js" %}"></script>
        <script src="{% static "noter/save.js" %}"></script>
{% endblock %}
{% block content %}
    <div  id="editor">
        <div id="text" contenteditable="true" oninput="textChanged()"> </div>
        <div id="controlbox" hidden="true">
            <form method="post" id="onlyform">
                {% csrf_token %}
                {{ form }}
                {{ form1 }}
                <input id="delete" type="button" value="У">
                <input style="font-weight: bold" id="bolder" type="button" value="Ж">
                <input style="font-style: italic" id="italy" type="button" value="К">
                <input id="roy" type="button" value="R">
                <input id="col" type="button" value="C">
                <input onclick="save_note()" type="button" id="save" value="С">
            </form>
        </div>
    </div>
{% endblock %}
{% block footer %}

{% endblock %}
