{% extends 'layout/basic.html' %}
{% block title %}{{ name }}{% endblock %}
{% block info %}
    <a href="{% url 'regist' %}">Регистрация</a>
    <a href="{% url 'login' %}">Авториация</a>
{% endblock %}
{% block log %}{{ log }}{% endblock %}
{% block content %}
    <form method="post">
    <h3>{{ name }}</h3>
    {% csrf_token %}
    {{ form.as_p }}
        <input type="submit" value="Подтвердить">
    </form>
        {% load static %}
    <script src="{% static 'noter/jquery.js' %}"></script>
    <script>

    </script>
{% endblock %}
